@import "../node_modules/bootstrap/scss/bootstrap-flex";

.form-signin {
    max-width: 255px;
    margin: 25px auto;
}

.full-height {
    min-height: 100%;
}

.funeco-menu {
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
    padding: 0;
    .funeco-menu-category {
        background-color: aqua;
        padding: 15px;
        margin: 0 !important;
    }
    
    .funeco-menu-element {
        margin: 0 !important;
        padding: 10px;
        
        &:hover {
            background-color: lightgray;
        }
    }

    .active {
        background-color: darkblue;
        color: white;
    }
}

