version: '2'

services:
  ketan.funeco.web:
    image: ketan/funeco.web:Debug
    build:
      context: .
      dockerfile: Dockerfile.debug
    environment:
      - REMOTE_DEBUGGING=${REMOTE_DEBUGGING}
      - LDAP_ROOTPASS=MyRoot
      - LDAP_FQN_DOMAIN=dc=funeco,dc=com
    ports:
      - "9090:80"
    networks:
      - ldap
# En cas de probleme sous Windows : http://stackoverflow.com/questions/30040708/how-to-mount-local-volumes-in-docker-machine
    volumes:
      - ${PROJECT_FOLDER}/wwwroot:/app/wwwroot
    depends_on:
      - ketan_ldap

  ketan_ldap:
#    image: ketan/ldap:Debug
    image: osixia/openldap:1.1.6
#    build:
#      context: ${PROJECT_FOLDER}/../../../docker-images/ldap
#      dockerfile: Dockerfile
    environment:
      - LDAP_DOMAIN=funeco.com
      - LDAP_ORGANISATION="Marbrerie Funeraire"
      - LDAP_ADMIN_PASSWORD=MyRoot
    networks:
      - ldap
    volumes:
      - ./docker/ldap:/var/lib/ldap
      - ./docker/shared:/mnt/shared
      - ./docker/slapd/config:/etc/ldap/slapd.d

networks:
  ldap:
